@layer components {
	.icon {
		&:hover {
			opacity: 50%;
		}
	}

	.trunctate-items {
		li {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.invisible {
		display: none;
	}

	#best-projects {
		border: var(--big-border-size) groove var(--color-white);

		>header {
			border-bottom: var(--medium-border-size) groove var(--color-white);

			h2 {
				padding-bottom: var(--small-space);
			}
		}

		#best-projects-content {
			.arrow {
				cursor: pointer;
				border: none;
				background: none;

				color: var(--color-white);
				transition: background-color 0.3s ease;

				font-size: var(--medium-font-size);

				&:hover {
					opacity: 40%;
					background-color: var(--color-white);
					color: var(--color-black);

				}
			}

			.project {
				i {
					font-size: var(--very-big-font-size);
				}
			}
		}
	}

	#extra-actions {
		border: var(--big-border-size) groove var(--color-white);

		button>i {
			font-size: var(--very-big-font-size);
		}
	}

	.modal {
		border: var(--small-border-size) solid var(--color-white);
		background-color: var(--color-black);
		color: var(--color-white);
	}

	#search-modal-content {
		ul {
			border-right: var(--small-border-size) dashed var(--color-white);

			li::before {
				content: "\00a0";
			}

			li.selected::before {
				content: "> ";
			}
		}
	}

	#search-bar {
		font-size: 1.5rem;
		font-family: var(--font);

		input {
			font-size: 1.5rem;
			font-family: var(--font);

			width: 100%;
			color: var(--color-white);
		}

	}

	#all-projects {
		>header h2 {
			width: max-content;
			margin: 0 auto;
			border-bottom: var(--small-border-size) solid var(--color-white);
		}
	}
}
